@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Arcade;
  src: url("../public/font/ARCADE_N.TTF");
}

@layer components{
  .sidebar-icon{
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto bg-gray-800 text-green-500 fill-green-500
    hover:bg-green-600 hover:text-white hover:fill-white
    rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear cursor-pointer;
  }
  .sidebar-tooltip{
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-arcade outline-black outline-2
    transition-all duration-100 scale-0 origin-left;
  }
  .not-found p{
    @apply text-white mx-auto
  }
  .not-found h1{
    @apply text-black mx-auto text-3xl mb-10 bg-white p-5
  }
  .not-found a{
    @apply bg-white text-black p-2 mt-5 hover:bg-black hover:text-white
  }
  .footer p{
    @apply relative flex items-center justify-center mx-auto text-white
  }
  .top-nav p{
    @apply relative flex items-center justify-center mx-auto text-white right-0
  }
  .top-nav-item{
    @apply relative flex items-center justify-center mx-auto bg-gray-500 text-white hover:bg-cyan-300 transition-all duration-100 ease-linear cursor-pointer px-10;
  }
  main{
    @apply bg-win_bg w-screen h-screen
  }
}